{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="mt-0">Liste des Films à l'affiche :</h1>
    <div class="liste-films">
        {% for film in films %}
            <div class="card">
                <ul>
{#                    <li>Id du film : {{ film.id }}</li>#}
                    <li>Titre du film : {{ film.titre }}</li>
                    <li>Durée du film : {{ film.duree }} min</li>
                </ul>
                <a href="http://127.0.0.1:8001/film/{{ film.id }}" class="btn-detail">Détail</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
