{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="mt-0">Liste des Films à l'affiche :</h1>
    {% for film in films %}
        <ul>
            <li>Id: {{ film.id }}</li>
            <li>Titre: {{ film.titre }}</li>
            <li>Durée: {{ film.duree }} min</li>
        </ul>
        <a href="http://127.0.0.1:8001/film/{{ film.id }}">Détail</a>
    {% endfor %}
{% endblock %}
