body {
    background-color: gray;
}

li{
    list-style: none;
}

ul{
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}

.detail_seance{
    margin-left: 50px;
    margin-bottom: 20px;
}

#user_mdp{
    width: 180px;
}