body {
    background-color: antiquewhite;
}

li{
    list-style: none;
}

h1{
    text-align: center;
}

.detail_seance{
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.detail_seance li{
    margin-bottom: 5px;
}

#user_mdp{
    width: 180px;
}

.erreur{
    color: red;
}

.liste-films{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card{
    background-color: whitesmoke;
    border: 1px solid black;
    margin : 2px;
    height: 100px;
}

.btn-detail{
    background-color: gray;
    border: 1px solid black;
    text-decoration: none;
    color : black;
    margin-left: 40px;
    padding : 3px;
}

.btn-retour-detail{
    background-color: gray;
    border: 1px solid black;
    text-decoration: none;
    color : black;
    padding : 3px;
}

.btn-reserver{
    background-color: lightgray;
    border: 1px solid black;
    text-decoration: none;
    color : black;
    padding : 3px;
    margin-bottom: 5px;
}

.detail_film{
    background-color: whitesmoke;
}